@media (max-width:450px) {
    .pat{
        display:block;
        /* flex-direction: column; */
        /* height: ; */
    }
    .audi{
        visibility: hidden;
    }
    .reviews{
        display: grid;
        grid-template-rows: 0fr 1fr 0fr;
        height: 65rem;
    }
    .list ul{
        visibility:hidden;
    }
    .nav{
        height: 3rem;

    }
    .nav img{
        height: 3rem;
        left:0rem;
    }
    .img{
        width: 20rem;
    }
    .ride{
        display: flex;
        flex-direction: column;
    }
    .forms{
        margin:1rem;
        width: 26rem;
    }
    .date{
        width: 25rem;
    }
    .button{
        left: 1rem;
    }
    .reviews{
        height: 120rem;
    }
   
    .rcol{
        height: 35rem;
        width: 23rem;
    }
    .ride22{
        height: 40rem;
        width: 29rem;
    }
    .date{
    width: 20rem;
    right: 4rem;
    }
    .left{
        left: 1rem;
    }
    .us{
        width: 34rem;
        height: 56rem;
    }
    .comm{
        gap: 0rem;
        margin: 0rem;
        width: 28rem;

    }
    .com{
        font-size: 1.5rem;
    }
    .social{
        margin: 5rem;
        position: relative;
       right: 3rem;
    }
    .v{
        position: relative;
        right: 0rem;
        height: 8rem;
        width: 24rem;
    }
    .pinfo{
        font-size: 1rem;
    }
    .down{
        width: 30rem;
    }
    .vehicles{
        width: 30rem;
    }
    .pat{
        width: 30rem;
    }


}
@media (max-width:1400px) and (min-width:786px) {
    .rcol{
        height: 40rem;
    }
    .rideimg{
        width: 100%;
    }
    
}

